<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33028804479-hu6u159dv03lh0eh3g8qfvom79j3l2nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33028804479-hu6u159dv03lh0eh3g8qfvom79j3l2nt</string>
	<key>API_KEY</key>
	<string>AIzaSyBrCRZs7f9yBRIwHFiLGWO86PD0XhhcPL4</string>
	<key>GCM_SENDER_ID</key>
	<string>33028804479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernandomoreira.InstaAppMVVM</string>
	<key>PROJECT_ID</key>
	<string>instaappmvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>instaappmvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33028804479:ios:90500e5fd17993667b544a</string>
</dict>
</plist>